-i https://pypi.org/simple
--extra-index-url https://www.piwheels.org/simple
certifi==2025.4.26
charset-normalizer==3.4.2
docker==7.1.0
-e git+https://github.com/jauderho/docker-autocompose.git@d04a9997af2e46d2ad01c43c21da06f41533a2c8#egg=docker-autocompose
idna==3.10
pyaml==25.1.0
pyyaml==6.0.2
requests==2.32.3
urllib3==2.4.0
