-i https://pypi.org/simple
--extra-index-url https://www.piwheels.org/simple
certifi==2024.12.14
charset-normalizer==3.4.0
docker==7.1.0
-e git+https://github.com/jauderho/docker-autocompose.git@2370f5dc66e673392c293f93e85eb9fed1a76298#egg=docker-autocompose
idna==3.10
pyaml==24.9.0
pyyaml==6.0.2
requests==2.32.3
urllib3==2.3.0
